body {
	background-color: black;
	color: white;
	text-align: center;
	font-family: "Helvetica", sans-serif;
}

h1 {
	font-size: 48px;
}

div {
	margin: 0 auto;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

#header {
	padding: 1vh;
}

.security-widget {
	background: #a3b8bf;
	width: 80vw;
	padding: 1vh;
}