<html>
<head>
    <title>Security Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
	<div id="header">
		<h1>Security Dashboard</h1>
	</div>
	<div class="security-widget">
		<h2>VirusTotal URL Test</h2>
		<h3>Enter a URL</h3>
		<form action="/virustotal/url" method="POST">
    		<input name="text">
    		<input type="submit">
		</form>
		{% if url_data %}
  		<h3>{{ url_data }}</h3>
		{% endif %}
	</div>

	<div class="security-widget">
		<h2>VirusTotal File Test</h2>
		<h3>Enter a file hash</h3>
		<form action="/virustotal/file" method="POST">
    		<input name="text">
    		<input type="submit">
		</form>
		{% if file_data %}
  		<h3>{{ file_data }}</h3>
		{% endif %}
	</div>



<!-- 	<div class="security-widget">
		<h2>Have I Been Pwned?</h2>
		<h3>Enter an email or username to see if it's been compromised</h3>
		<form action="/pwned" method="POST">
    		<input name="text">
    		<input type="submit">
		</form>
		{% if p_data %}
  		<h3>{{ p_data }}</h3>
		{% endif %}
	</div> -->
</body>
</html>